<!DOCTYPE html>
<html>

<body>
    <div class='row main-content'>
        <div class="col-md-5">
            <img src="assets/images/bg.jpg" class="homeimg" alt="Background Image"  height="490px">
        </div>
        <div class="col-md-7 box-r" >

            <h3>
                Welcome to Quiz App.
            </h3>
            <div>
                <p>Hey Folks...Here you can give quiz on any topic in free.
                    For now we are providing three subjects which are C, Python and JavaScript. You'll find five
                    questions in each category.
                    In future we'll come up with more topics so stay tuned....
                </p>
                <p>Hit below button to start the quiz.</p>

            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg" (click)="start();">Start Quiz</button>
            </div>
        </div>
    </div>
<app-footer></app-footer>


</body>



</html>

